*{
    padding: 0%;
    margin: 0%;
}

.h
{
    width: 100%;
    background-color: rgb(18, 206, 206);
    height: 550px;
    
}
.h1
{
    width: 100%;
    background-color: rgb(18, 206, 206);
    height: 70px; 
    font-family: normal;   
}
.box ,.box2
{
    height:100%;
    width: 900px;
    margin-left: 200px;
    position: relative;
    /* border: 1px solid black; */
   
}
.font
{
    color: aliceblue;
    font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 20PX;
    text-decoration: none;
    font-style: italic;
    font-weight: 100;
}
.home
{
    margin-left: 400px;
}
.demo ,.doc , .downl
{
    margin-left: 20px;
}
.h_left
{
    margin-top: 100px;
}
.h1
{
    color: aliceblue;
    font-size: 60px;
   font-weight:100;
}
.h5
{
    color: aliceblue;
    font-size: 25px;
    font-weight:normal;
    font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}
.header ,.custom 
{
    display: flex;
}
.img1
{
    margin-top: 150px;
}
.btndown
{
    background-color: white;
    color: rgb(18, 206, 206);
    text-align: center;
    height: 60px;
    width: 170px;
    font-size: 20px;
    text-decoration: none; 
    display: inline-block;
    border:1px solid white;   
}
.btndown:hover
{
    background-color: rgb(243, 73, 73);
    color: aliceblue;
    border: 1px solid  rgb(243, 73, 73);
}
.btngit
{
    background-color:  rgb(18, 206, 206);
    color: white;
    text-align: center;
    height: 60px;
    width: 130px;
    font-size: 20px;
    text-decoration: none; 
    display: inline-block;
    border: 1px solid white;
    margin: 8px;
}
.btngit:hover
{
    background-color: rgb(243, 73, 73);
    color: aliceblue;
    border: 1px solid rgb(243, 73, 73);
}
.demo1
{
    margin-left: 400px;
    color: grey;
    font-weight:normal;
    font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}
.easy
{
    height: 200px;
    width: 300px;
    background-color: rgb(243, 73, 73);
    color: aliceblue;
    border: 1px solid  rgb(243, 73, 73);
    text-align:center;
    font-size: 25px;
    font-family: serif;
    font-style: italic;
    font-weight:lighter;
    margin-left: 15px;
    
}
.e1
{
   margin-top: 65px;
}
.img2
{
    margin-top: 50px;
}
.custom1
{
    margin-top: 70px;
    margin-left: 100px;
    
}
.cus2
{
    margin-left: 100px;
}
.de
{   
    width: 100%;
    background-color:rgb(230, 225, 225);
    height: 100px;
    margin: 0px;
}
.basic
{
    height: 60px;
    width: 200px;
    background-color: rgb(228, 225, 225);
    padding: 20px;
    margin: 7px;
    font-family:"Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}
.basic:hover
{
    background-color:rgb(18, 206, 206); 
    color: aliceblue;
}
.bdem
{
    display: flex;
    padding: 5px;
    position: absolute;
}
.bdem1
{
    margin-top: 100px;
    display: flex;
    padding: 5px;
    position: absolute;
}
.bdem2
{
    margin-top: 220px;
    display: flex;
    padding: 5px;
    position: absolute;
}
.plug 
{
    margin-top: 400px;
}
.plug1
{
    margin-top: 250px;
}
.start
{
    height: 900px;
    width: 180px;
    /* border: 1px solid black; */
}
.getst
{
    height: 30px;
    width: 250px;
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;

}
.getst:hover
{
    background-color:rgb(248, 243, 243);
    color: rgb(64, 62, 62);
}
.doc_font
{
    font-size:20px;
    text-decoration: none;
    color:gray;
}
.get_start
{
    margin-left: 30px;
}
.get_start1
{
    margin-left: 170px;
}
.get_start2
{
    margin-left: 60px;
}
.get_start3
{
    margin-left: 120px;
}
.box_side, .dem
{
    display: flex;
}
.wel,.new_feat
{
    margin-left: 100px;
}
.block_line
{
    height: 50px;
    width: 7px;
    background-color: rgb(18, 206, 206);
    margin-left:100px ;
    margin-top: 20px;
}
.block_cont
{
    margin-top: 30px;
    margin-left: 20px;
    font-size:medium;
    font-family: 'Lato','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;
    color: grey;
}
.new_feat_font
{
    font-size: medium;
    font-family: 'Lato','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;
}
.li
{
    margin-top: 10px;
}
.a1
{
    text-decoration: none;
    color:  rgb(18, 206, 206);
}
.text
{
    background-color: rgb(203, 203, 203);
}
.last_part
{
    color: rgb(18, 206, 206);
    font-size: 20px;
}
.foot
{
    height: 100px;
    width: 100%;
    background-color: rgb(232, 230, 230);
    color:rgb(18, 206, 206);
    position: relative;
}
.footer1
{
    position: absolute;
    margin-left: 650px;
    margin-top: 25px;
    font-size: 25px;
    font-family:  'Lato','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;
}